<p>
  Στόχος της εταιρίας OlaEnT@xis είναι η άμεση και υπεύθυνη εξυπηρέτηση 
      σε λογιστικά και φορολογικά θέματα. 
      Η εταιρία απευθύνεται τόσο σε επαγγελματίες όσο και σε ιδιώτες.
      Για την καλύτερη και πιο άμεση εξυπηρέτησή σας όλες μας οι υπηρεσίες 
      είναι μηχανογραφημένες. 
</p>
<p>
  Βρισκόμαστε στον Κορυδαλλό, 
  Αριστοφάνους 21 και Καραολή και Δημητρίου. 
  Τηλέφωνα επικοινωνίας 210-5622500 και 699-5612170.
  E-mail: info@olaentaxis.gr
  </p>